<!-- faq page -->
<div class="wrapper">
    <div class="sidebar" data-color='orange' data-background-color="orange" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/FN3-2.jpg);background-position:center "></div>
    </div>
	<app-back-button-navbar></app-back-button-navbar>
    <div class="cusmain-panel" (click)="navRemove()">
		<div class="tb-wrap">
			<section class="faq-sec">
				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							- नेटपर काय आहे?
						</mat-expansion-panel-header>
						<p>
							नेटपर एक मीडिया वेबसाईट आहे. नेटपरचं मुख्य उद्देश आहे कि ग्रामीण आणि अजून विकसीत होत असलेल्या शहरात त्यांच्या मायबोलीत माहिती पोचवणे. हे एक अॅपलीकेशन आहे ग्रामीण भारताला बाहेरच्या जगाशी जोडून देण्याकरीता.
						</p>
					</mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							 - ही एक विना - नफा संस्था आहे का? 
						</mat-expansion-panel-header>
						<p>
							नाही. नेटपर एक विना - नफा संस्था नाही आहे. ही एक खासगी संस्था आहे, भारतात नोंदणीकृत केलेली.
						</p>
					</mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							- नेटपरचा अॅप डाउनलोड कसा करायचा आणि ही सेवा मोफत आहे का?
						</mat-expansion-panel-header>
						<p>
							 नेटपर हा अॅप गुगल प्लेस्टोरवर उपलब्ध आहे. आणि हो! ही सेवा अगदी मोफत आहे.
						</p>
					</mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							- मी नेटपर वर लिहू शकतो का?
						</mat-expansion-panel-header>
						<p>
							हो! तुम्ही देखील नेटपर साठी लिहू शकता आणि तुमचं लेखक बनण्याचं स्वप्न पूर्ण करू शकता. 
						</p>
					</mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							- मी हे लेख फेसबुक/ ट्विटर/व्हाट्सएप वर शेअर कसे करू शकतो?
						</mat-expansion-panel-header>
						<p>
							तुम्ही या लेखांच्या खाली दिलेल्या शेअर बटन्स वर क्लिक करून फेसबुक/ ट्विटर/व्हाट्सएप वर शेअर करू शकता. 
						</p>
					</mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							- मी नेटपर च्या वाचकांशी कसंकाय कनेक्ट होऊन संवाद करू शकतो?
						</mat-expansion-panel-header>
						<p>
							तुम्ही लेखांच्या खाली नेमलेल्या कमेंट सेकशन वर जाऊन वाचकांशी  संवाद सादू शकता, किंवा नेटपर मराठी नावाच्या फेसबुक पेज वर जाऊन प्रेक्षकांशी कनेक्ट करू शकता.
						</p>
					</mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							- मी वेबसाईट वर फीडबॅक कसा देऊ शकतो?
						</mat-expansion-panel-header>
						<p>
							तुम्ही आम्हाला या (info@netpar.co) ई-मेल आयडी वर तुमचे काही प्रश्न असतील तर ते विचारू शकता, किंवा काही सूचना असतील तर त्याही देऊ शकता. 
						</p>
					</mat-expansion-panel>
				</mat-accordion>
			</section>
			<app-footer></app-footer>
		</div>
	</div>
</div>